.container{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: minmax(40px, auto);
grid-gap: 3px;
}
header{
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
nav{
  grid-column: 1/-1;
}
ul{
  display: flex;
  justify-content: space-around;
}
h2{
  grid-column: 1/-1;
  text-align: center;
  align-self: center;
}
#flod1{
  grid-column: 1/3;
  justify-self: center;
}
#flod2{
  grid-column: 3/5;
  justify-self: center;
}
#knapp1, #knapp2 {
  grid-column: 1/3;
}

.container p:nth-child(even){
  grid-column: 1 / span 2;
}
.container p:nth-child(odd){
  grid-column: 3 / span 2;
}
#botten{
  grid-column: 1/-1;
  align-self: center;
}

@media only screen and (max-width: 500px) {
  .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(60px, auto);
  }
  #flod1, #flod2, #knapp1, #knapp2{
    grid-column: 1/-1;
  }
  #extra{
    grid-column: 1/-1;
  }
  #knapp1{
    grid-row: 5/6;
  }
  #knapp2{
    grid-row: 6/7;
  }
  .container p:nth-child(even), .container p:nth-child(odd) {
    grid-column: 1/-1;
  }

}
