*{
  padding: 0;
  margin:0;
}
body{
  background-color: rgba(170, 232, 249, 0.19);
}
header{
  background-color: rgba(58, 142, 207, 0.65);
}
h1{
  padding: 10px;
  color:rgb(72, 70, 49);
}
#annatfont{
  font-family: 'Nabla', cursive;
}
.container p {
border: solid rgb(63, 161, 18) 1px;
}
nav{
  background-color: rgba(58, 142, 207, 0.35);
}
li{
display: inline;
font-size: 2em;
}
.dropbtn{
  background-color: rgb(72, 70, 49);
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 1vh 1.5vw ;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(58, 142, 207, 0.85);
}
.dropdown-content a {
  display: block;
  text-decoration: none;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover {background-color: rgba(114, 111, 249, 0.70);}
.dropbtn:hover {background-color: rgb(34, 33, 23) }
.bild{
  width: 90%;
}
#extra{
  position: relative;
  background-color: blue;
}
